body {
    background-image: url(kevin-mueller-G7rLW02g3ZI-unsplash.jpg);
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
  }

  p, a{
    font-family: 'Oxygen', sans-serif;
  }

  p {
      font-weight: bold;
  }

  img {
      opacity: 0.6;
  }